*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-color: #dc2626;

    color: #fef2f2;
}

h1, h2, h3{
    color: #f1f5f9;
}